includes:
	- vendor/phpat/phpat/extension.neon

parameters:
	level: 0
	paths:
		- ./src
		- ./tests

services:
	-
		class: Tests\Api\Architecture\ApiArchitectureTest
		tags:
			- phpat.test
	-
		class: Tests\Common\Architecture\CommonArchitectureTest
		tags:
			- phpat.test
	-
		class: Tests\User\Architecture\UserArchitectureTest
		tags:
			- phpat.test
